App\Domain\GhaImport\PullRequestEvent:
    type: entity
    table: pull_request_event
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        createdAt:
            type: datetime
        repoName:
            type: string
        message:
            type: text
            options:
                collation: utf8mb4_unicode_ci
        numberOfCommits:
            type: integer
        numberOfComments:
            type: integer
